<?xml version="1.0" encoding="UTF-8" ?> 
<beans xmlns="http://www.springframework.org/schema/beans" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:schemaLocation="http://www.springframework.org/schema/beans 
 http://www.springframework.org/schema/beans/spring-beans.xsd">
 <bean id="userdao" class="dao.impl.UserDaoImpl"></bean>
 <bean id="userdao2" class="dao.impl.UserDaoImpl2"></bean>
 <!-- 设置注入  -->
 <bean id="userservice" class="service.impl.UserServiceImlp">
 <property name="dao" ref="userdao" ></property>
 </bean>

 <!-- 构造注入 
 <bean id="userservice" class="service.impl.UserServiceImlp">
 <constructor-arg name="dao" ref="userdao2" ></constructor-arg>
 </bean>
 -->
</beans>